<capacitor-google-map #map ></capacitor-google-map>

 <ion-card style="height:70px;">
    <img src="/assets/yaar.jpeg" alt="" style="height:60px;width: 50px; margin-left: 40px;"><ion-title>Yaary</ion-title>
  </ion-card>
<ion-card style="height:80px; margin-bottom: 10px;">
 <ion-radio value="custom" aria-label="Custom checkbox" class="red"></ion-radio>
  <h1 class="middle">  Where to ?</h1>
</ion-card>
<ion-card>
  <p>19.4m</p>
  <ion-icon name="refresh-outline" style="height:30px;width: 40px;"></ion-icon>
  <h1>Miyapur</h1>
  <h2>Hyderabad,<br>Telangana</h2> 
</ion-card>




